- name: Cria pasta bin na home
  file:
    path: ~/bin
    state: directory

- name: Instala cpufrequtils
  apt:
    name: cpufrequtils
    state: present

- name: Adiciona comando perfomance
  template:
    src: "{{ item.src }}"
    dest: "~/bin/{{ item.dest }}"
    mode: 0755
  with_items:
    - "{{ arquivos_scripts }}"
